* {
  margin: 0
}

html {
  box-sizing: border-box;
  font-family: "et-book", Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  background: #fffff8;
  color: #112;
  font-size: 15px;
}

@media (max-width: 786px) {
  html {
    font-size: 12px
  }
}

*, *:after, *:before, input {
  font-family: inherit;
  box-sizing: inherit
}

body {
  line-height: 1.4;
  width: 48em;
  margin: 4em auto;
  max-width: 100%;
  padding-left: 1em;
  padding-right: 1em
}

@media (max-width: 786px) {
  body {
    margin: 2em auto
  }
}

h1, h2 {
  font-weight: 400;
  line-height: 1.2;
  margin-top: 2em;
  margin-bottom: 0
}

h1 {
  font-size: 3.2em;
  line-height: 1;
  margin-top: 2em;
  margin-bottom: .5em
}

@media (max-width: 786px) {
  h1 {
    margin-top: 0
  }
}

h2 {
  font-style: italic;
  font-size: 2.3em;
  margin-top: 1.7em;
}

p, ol, dl, ul {
  font-size: 1.4em;
  margin-top: 1.3em;
  margin-bottom: 1.3em
}

a:link:not([class]), a:visited:not([class]) {
  color: inherit;
}

a:link:not([class]) {
  text-decoration: none;
  background: -webkit-linear-gradient(#fffff8, #fffff8), -webkit-linear-gradient(#fffff8, #fffff8), -webkit-linear-gradient(#989892, #989892);
  background: linear-gradient(#fffff8, #fffff8), linear-gradient(#fffff8, #fffff8), linear-gradient(#989892, #989892);
  -webkit-background-size: 0.05em 1px, 0.05em 1px, 1px 1px;
  -moz-background-size: 0.05em 1px, 0.05em 1px, 1px 1px;
  background-size: 0.05em 1px, 0.05em 1px, 1px 1px;
  background-repeat: no-repeat, no-repeat, repeat-x;
  text-shadow: 0.03em 0 #fffff8, -0.03em 0 #fffff8, 0 0.03em #fffff8, 0 -0.03em #fffff8, 0.06em 0 #fffff8, -0.06em 0 #fffff8, 0.09em 0 #fffff8, -0.09em 0 #fffff8, 0.12em 0 #fffff8, -0.12em 0 #fffff8, 0.15em 0 #fffff8, -0.15em 0 #fffff8;
  background-position: 0% 93%, 100% 93%, 0% 93%;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  a:link:not([class]) {
    background-position-y: 87%, 87%, 87%;
  }
}

a:link:not([class])::selection {
  text-shadow: 0.03em 0 #b4d5fe, -0.03em 0 #b4d5fe, 0 0.03em #b4d5fe, 0 -0.03em #b4d5fe, 0.06em 0 #b4d5fe, -0.06em 0 #b4d5fe, 0.09em 0 #b4d5fe, -0.09em 0 #b4d5fe, 0.12em 0 #b4d5fe, -0.12em 0 #b4d5fe, 0.15em 0 #b4d5fe, -0.15em 0 #b4d5fe;
  background: #b4d5fe;
}

a:link:not([class])::-moz-selection {
  text-shadow: 0.03em 0 #b4d5fe, -0.03em 0 #b4d5fe, 0 0.03em #b4d5fe, 0 -0.03em #b4d5fe, 0.06em 0 #b4d5fe, -0.06em 0 #b4d5fe, 0.09em 0 #b4d5fe, -0.09em 0 #b4d5fe, 0.12em 0 #b4d5fe, -0.12em 0 #b4d5fe, 0.15em 0 #b4d5fe, -0.15em 0 #b4d5fe;
  background: #b4d5fe;
}
